<template lang="html">
  <div class="inner-content">
    <div class="bx_title">
      <nuxt-link
        to="/"
        class="btn_back">
        <i class="fas fa-chevron-circle-left" />
      </nuxt-link>
      <h2 class="title is-4">Autos Nuevos</h2>
    </div>
    <div class="inner-scroll">
      <div class="autos-nuevos">
        <div class="category">
          <h3 class="title is-5">Autos</h3>
          <div class="auto">
            <nuxt-link to="/autos/q50">
              <div class="bx_header">2018</div>
              <div class="car_name">Q50</div>
              <div class="bx_precio">Desde: $600,700</div>
              <div class="photo">
                <img src="/images/autos/q50.png" >
              </div>
            </nuxt-link>
          </div>
          <div class="auto">
            <nuxt-link to="/autos/q60">
              <div class="bx_header">2018</div>
              <div class="car_name">Q60</div>
              <div class="bx_precio">Desde: $991,600</div>
              <div class="photo">
                <img src="/images/autos/q60.png" >
              </div>
            </nuxt-link>
          </div>
          <div class="auto">
            <nuxt-link to="/autos/q70">
              <div class="bx_header">2018</div>
              <div class="car_name">Q70</div>
              <div class="bx_precio">Desde: $811,400</div>
              <div class="photo">
                <img src="/images/autos/q70.png" >
              </div>
            </nuxt-link>
          </div>
          <div class="auto">
            <nuxt-link to="/autos/qx30">
              <div class="bx_header">2018</div>
              <div class="car_name">QX30</div>
              <div class="bx_precio">Desde: $319,900</div>
              <div class="photo">
                <img src="/images/autos/qx30.png" >
              </div>
            </nuxt-link>
          </div>
          <div class="auto">
            <nuxt-link to="/autos/qx60">
              <div class="bx_header">2018</div>
              <div class="car_name">QX60</div>
              <div class="bx_precio">Desde: $785,500</div>
              <div class="photo">
                <img src="/images/autos/qx60.png" >
              </div>
            </nuxt-link>
          </div>
          <div class="auto">
            <nuxt-link to="/autos/qx70">
              <div class="bx_header">2017</div>
              <div class="car_name">QX70</div>
              <div class="bx_precio">Desde: $900,500</div>
              <div class="photo">
                <img src="/images/autos/qx70.png" >
              </div>
            </nuxt-link>
          </div>
          <div class="auto">
            <nuxt-link to="/autos/qx80">
              <div class="bx_header">2017</div>
              <div class="car_name">QX80</div>
              <div class="bx_precio">Desde: $1,378,500</div>
              <div class="photo">
                <img src="/images/autos/qx80.png" >
              </div>
            </nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="sass" scoped>
@import "~bulma/sass/utilities/_all"
@import "assets/sass/base/color.sass"

</style>
